body {
}

input {
    background-color: #d1d1d1;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
}


.padel_court {
    background-image: url("../../images/padel_court.png");
    width: 563px;
    height: 279px;
    margin: 10px 10px 10px 10px;
    align-content: center;
}


.padel_court_score_input {
    width: 120px;
    height: 60px;
    align-content: center;
    text-align: center;
}


.padel_court_player_name {
    text-align: center;
    align-content: center;
    display: inline-block;
    border-radius: 10px;
    min-width: 50px;
    background-color: black;
    opacity: 0.6;
    width: 100px;
}

.player_name {
    text-align: center;
    color: white;
    background-color: black;
    opacity: 60%;
    border-radius: 20px;
    font-size: larger;
}

.popup-score-btn {
    font-size: 30px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 30px;
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 3px 3px 3px 3px;
}

.set-score-btn {
    font-size: 30px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 30px;
    padding: 3px 3px 3px 3px;
    border-width: 1px;
    border-color: black;
}











